<!-- body-dashboard -->
<div style="" class="body-dashboard" id="dash_board">
  <!-- List years with multiple winners -->
  <div style="" class="box-tables" id="">
    <h2 style="text-align: left;"> List years with multiple winners </h2>
    <!-- columns -->

    <div style="width: 100%; min-height: 50px; background-color: transparent;">
      <table style="text-align: center; background-color: white; width: 100%; height: inherit;">
        <tr>
          <th>Year</th>
          <th>Win Count</th>
        </tr>

        <tr>
          <td>55</td>
          <td>88</td>
        </tr>

        <tr>
          <td>55</td>
          <td>88</td>
        </tr>

        <tr>
          <td>55</td>
          <td>88</td>
        </tr>

      </table>
    </div>
  </div>

  <!-- Top 3 studios with winners -->
  <div style="" class="box-tables" id="year_multiple_winner">
    <!-- title -->
    <h2 style="text-align: left;">Top 3 studios with winners</h2>

    <!-- div wrap table -->
    <div style="width: 100%; min-height: 50px; background-color: transparent;">
      <table style="text-align: center; background-color: transparent; width: 100%; height: inherit;">
        <tr>
          <th>Year</th>
          <th>Win Count</th>
        </tr>

        <tr>
          <td>55</td>
          <td>88</td>
        </tr>

        <tr>
          <td>55</td>
          <td>88</td>
        </tr>

      </table>
    </div>
  </div>

  <!-- Producers with longest interval between wins -->
  <div style="" class="box-tables" id="">
    <!-- title -->
    <h2 style="text-align: left;">Producers with longest interval between wins</h2>

    <!-- div wrap table -->
    <div style="width: 100%; min-height: 50px; background-color: transparent;">
      <h5 style="text-align: left;">Maximum</h5>
      <table style="text-align: center; background-color: transparent; width: 100%; height: inherit;">
        <tr>
          <th>Year</th>
          <th>Win Count</th>
        </tr>

        <tr>
          <td>55</td>
          <td>88</td>
        </tr>

      </table>
    </div>

    <br/>

    <!-- div wrap table -->
    <div style="width: 100%; min-height: 50px; background-color: transparent;">
      <h5 style="text-align: left;">Minimum</h5>
      <table style="text-align: center; background-color: transparent; width: 100%; height: inherit;">
        <tr>
          <th>Year</th>
          <th>Win Count</th>
        </tr>

        <tr>
          <td>55</td>
          <td>88</td>
        </tr>

      </table>
    </div>
  </div>
  <!-- Producers with longest interval between wins -->

  <!-- List movie winners by year -->
  <div style="" class="box-tables" id="">
    <!-- title -->
    <h2 style="text-align: left;">List movie winners by year</h2>

    <!-- div wrap table -->
    <div style="width: 100%; min-height: 50px; background-color: transparent;">
      <table style="text-align: center; background-color: transparent; width: 100%; height: inherit;">
        <tr>
          <th>Year</th>
          <th>Win Count</th>
        </tr>

        <tr>
          <td>55</td>
          <td>88</td>
        </tr>

      </table>
    </div>
  </div>
  <!-- List movie winners by year -->

</div>
<!-- body-dashboard -->
