<!-- body-dashboard -->
<div style="" class="body-dashboard" id="dash_board">
  <!-- List years with multiple winners -->
  <div style="" class="box-tables" id="">
    <h2 style="text-align: left;"> List years with multiple winners </h2>
    <!-- columns -->

    <div style="width: 100%; min-height: 50px; background-color: transparent;">
      <table style="text-align: center; background-color: white; width: 100%; height: inherit;">
        <tr>
          <th>Year</th>
          <th>Win Count</th>
        </tr>

        <tr *ngFor="let movies of listYearsWithMultipleWinners">
          <td>{{movies.year}}</td>
          <td>{{movies.winnerCount}}</td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Top 3 studios with winners -->
  <div style="" class="box-tables" id="year_multiple_winner">
    <!-- title -->
    <h2 style="text-align: left;">Top 3 studios with winners</h2>

    <!-- div wrap table -->
    <div style="width: 100%; min-height: 50px; background-color: transparent;">
      <table style="text-align: center; background-color: transparent; width: 100%; height: inherit;">
        <tr>
          <th>Name</th>
          <th>Win Count</th>
        </tr>

        <tr *ngFor="let movies of top3StudiosWithWinners">
          <td>{{movies.name}}</td>
          <td>{{movies.winCount}}</td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Producers with longest interval between wins -->
  <div style="" class="box-tables" id="">
    <!-- title -->
    <h2 style="text-align: left;">Producers with longest interval between wins</h2>

    <!-- div wrap table -->
    <div style="width: 100%; min-height: 50px; background-color: transparent;">
      <h5 style="text-align: left;">Maximum</h5>
      <table style="text-align: center; background-color: transparent; width: 100%; height: inherit;">
        <tr>
          <th>Producer</th>
          <th>Interval</th>
          <th>Previous Year</th>
          <th>Following Year</th>
        </tr>

        <tr>
          <td>{{maxWinner?.producer}}</td>
          <td>{{maxWinner?.interval}}</td>
          <td>{{maxWinner?.previousWin}}</td>
          <td>{{maxWinner?.followingWin}}</td>
        </tr>

      </table>
    </div>

    <br/>

    <!-- div wrap table -->
    <div style="width: 100%; min-height: 50px; background-color: transparent;">
      <h5 style="text-align: left;">Minimum</h5>
      <table style="text-align: center; background-color: transparent; width: 100%; height: inherit;">
        <tr>
          <th>Producer</th>
          <th>Interval</th>
          <th>Previous Year</th>
          <th>Following Year</th>
        </tr>

        <tr>
          <td>{{minWinner?.producer}}</td>
          <td>{{minWinner?.interval}}</td>
          <td>{{minWinner?.previousWin}}</td>
          <td>{{minWinner?.followingWin}}</td>
        </tr>

      </table>
    </div>
  </div>
  <!-- Producers with longest interval between wins -->

  <!-- List movie winners by year -->
  <div style="" class="box-tables" id="">
    <!-- title -->
    <h2 style="text-align: left;">List movie winners by year</h2>

    <!-- div wrap table -->
    <div style="width: 100%; min-height: 50px; background-color: transparent;">
      <input type="search" class="form-control" placeholder="Search by year" value="Search by year" [(ngModel)]="searchByYear" style="width:80%; height:25px;"  >
      <button (click)="listMovieWinnerByYear()" mat-stroked-button class="mat-stroked-button" style="height: 35px; margin-top: -3px; color: black; border: solid 1px rgb(227, 227, 227);">Search</button>
      <table style="text-align: center; background-color: transparent; width: 100%; height: inherit;">
        <tr>
          <th>ID</th>
          <th>Year</th>
          <th>Title</th>
        </tr>

        <tr *ngFor="let winnersByYear of listWinnersByYear">
          <td>{{winnersByYear.id}}</td>
          <td>{{winnersByYear.year}}</td>
          <td>{{winnersByYear.title}}</td>
        </tr>

      </table>
    </div>
  </div>
  <!-- List movie winners by year -->
</div>
<!-- body-dashboard -->
