.app-body
{
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.menu
{
  width: 22.3%;
  height: 100vh;
  display: inline-flex;
  background-color: whitesmoke;
  text-align: center;
  /* align-items: center; */
  justify-content: center;
}

.app-body-content
{
  display: inline-flex;
  width: 100%;
  height: auto;
  background-color: inherit;
}

.render-views
{
  width: 100%;
  height: auto;
  background-color: inherit;
  /* position: absolute; */
}

@media(max-width:800px)
{
  .app-body
  {
    display: block;
  }

  .menu
  {
    width: 100%;
    display: block;
    z-index: 999;
    height: auto;
  }

  .app-body-content
  {
    display: block;
    position: relative;
  }

  .render-views
  {
    width:  100% ;
  }

  .footer-component
  {
    /* display: none; */
  }
}

ul, li, a
{
  text-decoration: none;
  text-align: center;
  list-style: none;
  align-items: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.links:hover
{
  font-size: 15px;
  color: blue;
}





