
<div class="div-wrap-menu-sidenav-top" id="divWrapMenuSidenav-top">

  Vestibulum ac dapibus enim. Etiam a placerat sem. Maecenas condimentum nisl vitae magna scelerisque facilisis. Nulla facilisi. Praesent interdum sagittis erat, in sodales augue porta a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sed massa eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent a enim est. Duis eget sem faucibus, lobortis mauris vel, vulputate ante. Aenean sagittis tellus eu mi rutrum, a fermentum sem porta. Nunc quis justo tincidunt, venenatis nibh sit amet, sollicitudin libero. Proin vestibulum massa neque, vel euismod orci scelerisque sit amet. Etiam vulputate lacus in orci dapibus placerat. Nunc sed sapien a tellus congue pulvinar.

  Fusce sollicitudin risus quis pharetra rhoncus. Morbi sit amet dictum nisi, at iaculis erat. Ut in urna non nisi congue posuere. Donec eleifend nisl sit amet erat eleifend, ut blandit est suscipit. Donec lacinia arcu vel dui pellentesque cursus. Suspendisse sed elementum metus, nec ornare quam. Phasellus quis sapien libero.
</div>

<div class="div-wrap-menu-sidenav" id="divWrapMenuSidenav">
  <p>Lorem ipsum dolor sit amet, </p>consectetur adipiscing elit. Praesent ut tristique arcu. Suspendisse rhoncus enim odio, vel efficitur eros semper eget. Sed ac dignissim ante, pharetra pellentesque nisl. Mauris laoreet convallis nibh, sollicitudin blandit ligula rhoncus at. Aliquam tincidunt dolor eros, vitae vestibulum turpis pretium nec. Quisque pellentesque erat non rutrum hendrerit. Donec non erat tincidunt, semper velit vitae, eleifend justo. Nullam imperdiet, ligula sit amet porttitor porttitor, metus ante porttitor quam, at auctor dolor arcu eget magna. Ut mattis fringilla ante et viverra. Donec eu ligula at dolor euismod gravida vehicula quis nunc. Proin imperdiet ante ligula, nec bibendum sapien dictum varius. Fusce sit amet commodo lectus, vel vestibulum ex.

  Quisque tempor et enim sed porta. In molestie commodo velit in egestas. Duis orci massa, elementum efficitur massa id, semper tincidunt leo. Maecenas a metus sit amet diam sollicitudin aliquet et non ipsum. Nam nulla leo, tempus aliquam sollicitudin ac, blandit sed augue. Quisque condimentum hendrerit lacus accumsan cursus. Maecenas vestibulum lacus ac neque sodales malesuada. Duis ut nunc nunc. Quisque libero elit, pretium ac rhoncus eu, mattis ut nulla.

  Cras metus diam, porta aliquam massa sed, tempus pharetra massa. Maecenas tincidunt, massa non dapibus pharetra, metus sapien tincidunt orci, id dignissim mi turpis a urna. Curabitur elementum eget velit vel aliquet. Aliquam quam mauris, hendrerit facilisis maximus non, sodales sit amet magna. Morbi vehicula purus at tincidunt pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam nisi nisl, auctor at justo eget, faucibus tristique orci. Aliquam scelerisque neque ut rutrum consequat. Duis vitae massa non ante eleifend tristique feugiat ut massa. Aenean ultrices interdum erat dapibus aliquet. Morbi eu lacinia orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus tincidunt lacinia odio, nec congue massa suscipit at. Etiam iaculis varius ante ut lobortis. Quisque velit ligula, placerat at fringilla at, volutpat quis neque.

  Vestibulum ac dapibus enim. Etiam a placerat sem. Maecenas condimentum nisl vitae magna scelerisque facilisis. Nulla facilisi. Praesent interdum sagittis erat, in sodales augue porta a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sed massa eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent a enim est. Duis eget sem faucibus, lobortis mauris vel, vulputate ante. Aenean sagittis tellus eu mi rutrum, a fermentum sem porta. Nunc quis justo tincidunt, venenatis nibh sit amet, sollicitudin libero. Proin vestibulum massa neque, vel euismod orci scelerisque sit amet. Etiam vulputate lacus in orci dapibus placerat. Nunc sed sapien a tellus congue pulvinar.

  Fusce sollicitudin risus quis pharetra rhoncus. Morbi sit amet dictum nisi, at iaculis erat. Ut in urna non nisi congue posuere. Donec eleifend nisl sit amet erat eleifend, ut blandit est suscipit. Donec lacinia arcu vel dui pellentesque cursus. Suspendisse sed elementum metus, nec ornare quam. Phasellus quis sapien libero.
</div>

<!-- <mat-sidenav-container class="sidenav-container-menu" autosize>
  <mat-sidenav #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
</mat-sidenav-container> -->

<router-outlet></router-outlet>
