
<mat-toolbar>
  <span>
    Frontend Angular Test TEXO I.T.
  </span>
</mat-toolbar>

<!-- app-body -->
<div class="app-body" id="app_body" style="">
  <!-- menu -->
  <div style="" class="menu" id="menu">
    <ul>
      <li class="" id=""><a href="#"> &nbsp; </a></li>
      <li class="" id="" style="padding-bottom: 5px;">
        <a href="http://localhost:4200/#"> <h1> Movies Management </h1>  </a>
      </li>
      <li class="" id="">
        <a routerLink="/lista" class="links">   Lista   </a>
      </li>
      <li class="" id=""><a href="#"> &nbsp; </a></li>
      <li class="" id="">
        <a routerLink="/dashboard" class="links">   Dashboard   </a>
      </li>
    </ul>
  </div>

  <!-- app-body-content -->
  <div class="app-body-content" id="app_body_content" style="">
    <div class="render-views" id="render_views" style="">
      <!-- <div style="width: 50px; height: 1000px; background-color: aqua;"></div> -->
      <router-outlet> </router-outlet>
    </div>
  </div>
</div>
<!-- app-body -->


<mat-toolbar class="footer-component">
  <span>
    Frontend Angular Test
  </span>
</mat-toolbar>
